h1,h2,h3,h4,h5{
  color: #65b32e;
}

a {
 color: #65b32e;
 text-decoration: underline;
 transition: all 0.3s;
}

a:hover { 
 color: #831b78!important; 
}

i {
  text-decoration: none;
}

.header{
  padding: 1.25rem 0;
}
.display{
  padding: 60px 0;
  background: rgb(250,250,250);
}

i.purple.icon {
    color: #831b78!important;
    transition: all 0.4s;
}

i.purple.icon:hover {
    color: #65b32e!important;
}

.ui.card, .ui.cards>.card {
  border: 1px solid #831b78;
  box-shadow: 0;
  border-radius: 2px;
  transition: all 0.3s;
}

.ui.card:hover, .ui.cards>.card:hover {
  background-color: rgb(131,27,120);
  color: white!important;
  border: 1px solid #65b32e;
}

