h1,h2,h3,h4,h5{
  color: #65b32e;
}
.header{
  padding: 1.25rem 0;
}
.display{
  padding: 60px 0;
  background: rgb(250,250,250);
}

i.purple.icon {
    color: #831b78!important;
    transition: all 0.4s;
}

i.purple.icon:hover {
    color: #65b32e!important;
}
