h1,h2,h3,h4,h5{
  color: #65b32e;
}

a {
 color: #65b32e;
 transition: all 0.3s;
}

a:hover { 
 color: #831b78!important; 
}

.header{
  padding: 1.25rem 0;
}
.display{
  padding: 60px 0;
  background: rgb(250,250,250);
  margin-bottom: 20px;
}

i.purple.icon {
    color: #831b78!important;
    transition: all 0.4s;
}

i.purple.icon:hover {
    color: #65b32e!important;
}

.ui.card, .ui.cards>.card {
  border: 1px solid #831b78;
  border-radius: 2px;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ui.card:hover, .ui.cards>.card:hover {
  border: 1px solid #65b32e;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

